.ss_kv {
  margin-top: 48px;
  .kv_text {
    background-color: rgba(240,206,190,0.55);
    min-width: 75%;
    letter-spacing: 0.1rem;
    word-spacing: 0.5rem;
    padding: 1rem;
    @include media-breakpoint-down(sm) {
      padding: 0.2rem
    }
  }
}

.ss_about {
  .row {
    background-color: #dfe3ed;

    .white-box {
      max-height: 18rem;
      @include media-breakpoint-down(lg) {
        max-height: 17rem;
      }
      @include media-breakpoint-down(md) {
        max-height: 18rem;
      }
    }
  }
}

.ss_prices {
  .row {
    background-color: #dfe3ed;
  }
}

.ss_contact {
  .container > .row {
    background-image: url(../img/warsaw.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(240,206,190,0.74);
      z-index: 0;
    }
    & > div {
      z-index: 1;

      .list-unstyled {
        li {
          margin-bottom: 5px;
        }
      }
      .link {
        text-decoration: none;
        font-weight: bold;
        margin: 5px;

        @include hover-focus {
          text-decoration: underline;
        }
      }

      label {
        display: none;
      }
      .help-block {
        position: absolute;
      }

      .form-group {
        margin-bottom: 1.8rem;
        &:last-of-type {
          margin-bottom: 1rem;
        }
      }

      #msgSubmit {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        @include media-breakpoint-down(md) {
          position: static;
          transform: translateX(0%);
          margin-top: 1rem;
        }
      }
    }
  }
}

.fixed-right {
  position: fixed;
  right: 0;
  top: 200px;
  width: 54px;
  text-align: center;
  z-index: 9;
  .icon {
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-right: none;
    svg {
      transition: transform 300ms ease-in-out;
    }
    @include hover-focus {
      svg {
        transform: scale(1.2);
      }
    }
  }
  .fb-icon {
    background-color: #3753B3;
    color: #fff;
  }
  .call-icon {
    background-color: #fff;
    color: #000;
  }

}

// GLOBAL STYLES
.ss:before {
  content: "";
  display: block;
  visibility: hidden;
  margin-top: -72px;
  height: 72px;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.p-centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-brand {
  font-size: 1.6rem;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  @include media-breakpoint-down(sm) {
    font-size: 1.2rem;
  }
}

h2 {
  display: inline-block;

  &:after {
    margin-top: 6px;
    content: "";
    height: 1px;
    background-color: #a65248;
    width: 85%;
    display: block;
  }
}

.sub-heading {
  font-size: 1.6rem;
  font-weight: 700;
  font-style: italic;
}

.white-box {
  background-color: #fff;
  border: 2px solid darkgray;
  border-radius: 5px;
}